/*! animations */

@keyframes site-title
{
	0%
	{
		color: inherit;
	}

	100%
	{
		color: transparent;
	}
}

header
{
	h1
	{
		animation: site-title 3s linear forwards;
		position: relative;
	}
}

@keyframes top-link
{
	0%
	{
		opacity: 0;
	}

	100%
	{
		opacity: 1;
	}
}

.skip-link::after
{
	opacity: 0;
	animation: top-link 50ms forwards 10s;
}
