// button look

@use "_constants" as *;
@use "_mixins" as *;

#files a,
.link-guidelines,
.link-allstyles,
.profile .container > a
{
	@include button-link;
}


.link-allstyles,
.profile .container > a
{
	display: block;
	width: max-content;
	margin:1em auto 0;
}
