/*! constants */

$breakpoint: 900px;

:root
{
	--ff-cursive: 'Rowdies', cursive;
	--ff-serif: 'Libre Caslon Text', serif;
	--fs-h1-fallback: calc(2rem + 6vw);
	--fs-h1: min(calc(2rem + 6vw), 11rem);
	--fs-h2: 1.75rem;
	--fs-h3: 1.5rem;
	--fs-h4: 1.25rem;
	--fs-text: 0.95rem;
	--fw-text: normal;

	--col-accent: salmon;
	--col-cta: Teal;
	--col-outline: var(--col-accent);
	--col-h1-fallback: #777;
	--col-text: #333;
	--col-text-shadow: rgba(51, 51, 51, 0.4);
	--col-bg: wheat;
	--col-after-bg: rgba(255, 255, 255, 0.4);
	--col-after-opacity: 0.7;
	--col-menu: white;
	--col-selection: var(--col-bg);
	--col-selectionbg: var(--col-text);
	--col-placeholder: #555;
	--col-button-bg: var(--col-accent);
	--col-button-text: var(--col-text);
	--col-button-text-hover: var(--col-menu);
	--col-button-bg-hover: var(--col-cta);

	--rule-colour: rgba(0, 0, 0, 0.2);
	--rule: 1px dashed var(--rule-colour);

	--padding-page-side: 2em;
	--padding: 3em;

	--column-width: 33rem;
	--column-gap: 7rem;
	--columns-max-width: calc((var(--column-width) * 2) + var(--column-gap)); /*! for webkit browsers */
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--col-text: wheat;
		--col-bg: #333;
		--col-after-bg: transparent;
		--col-button-text: var(--col-bg);
		--col-after-opacity: 1;
		--rule-colour: rgba(255, 255, 255, 0.2);
		--outline-after: 1px dashed rgba(245, 222, 179, 0.2);
	}

	#main .container > p:first-of-type::first-letter
	{
		color: var(--col-bg);
	}
}

@media screen and (min-width: $breakpoint)
{
	:root
	{
		--position: fixed;
	}
}
