/*! constants */
$screen-size-100: 600px;
$screen-size-200: 601px;
$screen-size-300: 900px;
$screen-size-400: 901px;

/*! https://contrast-ratio.com/#%23333-on-wheat - text
	https://contrast-ratio.com/#teal-on-wheat - buttons
*/

:root
{
	/*! site title text */
	--ff-cursive: 'Rowdies', cursive;
	/*! body text */
	--ff-serif: 'Libre Caslon Text', serif;
	/*! mobile body text */
	--ff-ss: 'Open Sans', sans-serif;
	--fs-h1: calc(2rem + 6vw);
	--fs-h2: 1.75rem;
	--fs-h3: 1.5rem;
	--fs-h4: 1.25rem;
	--fs-text: 0.95rem;
	--fw-text: normal;

	--col-accent: DarkOrchid;
	--col-cta: Teal;
	--col-outline: var(--col-accent);
	--col-h1-fallback: #777;
	--col-text: rgb(51, 51, 51);
	--col-text-alpha: rgba(51, 51, 51, 0.5);
	--col-bg: wheat;
	--col-after-bg: rgba(255, 255, 255, 0.4);
	--col-after-opacity: 0.7;
	--col-menu: white;
	--col-menu-hover: --col-bg;
	--col-selection: var(--col-bg);
	--col-selectionbg: var(--col-text);
	--col-placeholder: #555;

	--col-button-text: var(--col-menu);
	--col-button-text-hover: var(--col-menu);
	--col-button-bg: var(--col-cta);
	--col-button-bg-hover: var(--col-text);

	--rule-colour: rgba(0, 0, 0, 0.2);
	--rule: 1px dashed var(--rule-colour);

	--h1-bg: url(https://source.unsplash.com/ux7TZRK7tDo/1600x900);
	--files-bg: url(https://source.unsplash.com/KOtu2rPqWs4/1600x900);

	--padding-page-side: 2em;
	--padding: 3em;

	--column-width: 33rem;
	--column-gap: 7rem;
	--columns-max-width: calc((var(--column-width) * 2) + var(--column-gap)); /*! for webkit browsers */
}

nav
{
	--col-outline: var(--col-menu);
}

@media (prefers-color-scheme: dark)
{
	/*! https://contrast-ratio.com/#wheat-on-%23333 - text
		https://contrast-ratio.com/#salmon-on-%23333 - buttons
	*/
	:root
	{
		--col-text: wheat;
		--col-text-alpha: rgba(245, 222, 179, 0.5);
		--col-h1-fallback: var(--col-text);
		--col-bg: #333;
		--col-cta: DarkOrchid;
		--col-accent: salmon;
		--col-after-bg: transparent;
		--col-menu-hover: var(--col-text);
		--col-button-text: var(--col-bg);
		--col-button-text-hover: var(--col-bg);
		--col-button-bg: var(--col-accent);
		--col-after-opacity: 1;
		--rule-colour: rgba(255, 255, 255, 0.2);
		--outline-after: 1px dashed rgba(245, 222, 179, 0.2);
		--h1-bg: url(https://source.unsplash.com/KOtu2rPqWs4/1600x900);
		--files-bg: url(https://source.unsplash.com/ux7TZRK7tDo/1600x900);
	}

	#files .container h3
	{
		--col-text: var(--col-bg);
	}

	#files .container
	{
		--col-button-text: var(--col-menu);
		--col-button-text-hover: var(--col-menu);
		--col-button-bg: var(--col-cta);
		--col-button-bg-hover: var(--col-bg);
		--pink-bg: hsl(70, 14%, 32%);
		--pink-bg-transparent: hsla(70, 14%, 32%, 0.8);
	}
}

@media screen and (min-width: $screen-size-400)
{
	:root
	{
		--position: fixed;
	}
}

@media only screen and (max-width : 83.5em) /*! 1336px ipad pro landscape */
{
	/*! larger font size to cater for mobile retina screens */
	:root
	{
		--fs-h1: calc(2rem + 8vmax);
	}
}
