/* constants */

$breakpoint: 900px;

:root
{
	--ff-cursive: 'Rowdies', cursive;
	--ff-serif: 'Libre Caslon Text', serif;
	--fs-h1-fallback: calc(2rem + 6vw);
	--fs-h1: min(calc(2rem + 6vw), 11rem);
	--fs-h2: 1.75rem;
	--fs-h3: 1.5rem;
	--fs-h4: 1.25rem;
	--fs-text: 0.95rem;

	--col-accent: salmon;
	--col-cta: Teal;
	--col-outline: var(--col-accent);
	--col-h1-fallback: #777;
	--col-text: #333;
	--col-text-shadow: rgba(51, 51, 51, 0.05);
	--col-bg: wheat;
	--col-menu: white;
	--col-selection: var(--col-bg);
	--col-selectionbg: var(--col-text);
	--col-placeholder: #555;
	--col-button-bg: var(--col-accent);
	--col-button-text-hover: var(--col-menu);
	--col-button-bg-hover: var(--col-cta);

	--rule: 1px dashed rgba(0, 0, 0, 0.2);

	--padding-page-side: 2em;
	--padding: 3em;

	--column-width: calc(1ch + 33vw);
	--column-gap: 7vw;
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--col-text: var(--col-bg);
		--col-bg: var(--col-text);
		--rule: 1px solid rgba(255, 255, 255, 0.2);
	}
}

@media screen and (min-width: $breakpoint)
{
	:root
	{
		--position: fixed;
	}
}
