/* fonts */

@use "_constants" as *;

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/* see constants */

body
{
	font-family: var(--ff-serif);
}

header
{
	p
	{
		max-width: none;
	}
}

h1 // see animations for color
{
	font-family: var(--ff-cursive);
	font-size: var(--fs-h1-fallback);
	font-size: var(--fs-h1);
	text-align: center;
	background-image: url(https://source.unsplash.com/KOtu2rPqWs4/1600x900);
	background-clip: text;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom;
	margin: 0.25em 0;
	white-space: nowrap; // for mobile layout
}

@media screen and (min-width: $breakpoint)
{
	h1
	{
		line-height: initial;
	}
}

h2
{
	font-size: var(--fs-h2);
}

h3
{
	font-size: var(--fs-h3);
}

h4
{
	font-size: var(--fs-h4);
}

p,
li
{
	font-size: var(--fs-text);
}

blockquote
{
	margin: var(--padding);

	@media only screen and (max-width: 600px)
	{
		margin-left: 0;
		margin-right: 0;
	}

	column-span: all;
	font-style: italic;

	p
	{
		font-size: 138%;
		margin-left: auto;
		margin-right: auto;
		margin-inline-start: auto;
		margin-inline-end: auto;
	}

	:last-child
	{
		margin-bottom: 0;
	}
}

header .container
{
	text-align: center;

	h2, p
	{
		margin-bottom: 1rem;
		margin-block-end: 1rem;
	}
}

#main .container > p:first-of-type::first-letter
{
	background-color: var(--col-accent);
	padding: 0.2em 0.1em;
	margin-right: 0.1em;
	margin-inline-end: 0.1em;
	font-size: var(--padding);
	line-height: 1;
	float: left;
}

ol
{
	li
	{
		&::marker
		{
			font-size: 1.5em;
		}
	}
}

.skip-link
{
	position: absolute;
	top: 0.75em;
	transition:
		font-size ease-in 100ms,
		opacity ease-in 100ms
		;

	&:not(:hover):not(:focus)
	{
		font-size: 90%;
		opacity: 0.5;
	}
}
