/*! fonts */

@use "_constants" as *;

@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Rowdies:wght@700&Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*! see constants */

body
{
	font-family: var(--ff-serif);
}

@media only screen and (max-width : 83.5em) /*! 1336px ipad pro landscape */
{
	.container, nav
	{
		--fs-text: calc(0.95rem * 1.3);

		p, li, a
		{
			font-family: var(--ff-ss);
		}
	}
}

header
{
	p
	{
		max-width: none;
	}
}

/*!see animations for color of h1 */
h1
{
	font-family: var(--ff-cursive);
	font-size: var(--fs-h1);
	font-weight: 700;
	text-align: center;
	background-image:
		var(--h1-bg),
		/*! gradient fallback colour incase image doesn't load*/
		linear-gradient(var(--col-h1-fallback), var(--col-h1-fallback))
		;
	background-size: var(--h1-bg-size, auto);
	background-clip: text;
	background-repeat: no-repeat;
	background-position: left bottom;
	margin: 0.75em 0;

	@media screen and (max-width: $screen-size-100)
	{
		margin: 1em 0 0.75em;
	}
}

@media screen and (min-width: $screen-size-400)
{
	h1
	{
		line-height: initial;
		--h1-bg-size: cover;
	}
}

h2
{
	font-size: var(--fs-h2);
}

h3
{
	font-size: var(--fs-h3);
}

h4
{
	font-size: var(--fs-h4);
}

p,
li
{
	font-size: var(--fs-text);
}

blockquote
{
	margin: var(--padding);

	@media only screen and (max-width: $screen-size-100)
	{
		margin-left: 0;
		margin-right: 0;
	}

	column-span: all;
	font-style: italic;

	p
	{
		font-size: 138%;
		margin-left: auto;
		margin-right: auto;
		margin-inline-start: auto;
		margin-inline-end: auto;
	}

	:last-child
	{
		margin-bottom: 0;
	}
}

header .container
{
	text-align: center;

	h2, p
	{
		margin-bottom: 1rem;
		margin-block-end: 1rem;
	}
}

#main .container > p:first-of-type::first-letter
{
	color: var(--col-bg);
	background-color: var(--col-accent);
	padding: 0.2em 0.1em;
	margin-right: 0.1em;
	margin-inline-end: 0.1em;
	font-size: var(--padding);
	line-height: 1;
	float: left;
}

ol
{
	li
	{
		&::marker
		{
			font-size: 1.5em;
		}
	}
}

.skip-link
{
	position: absolute;
	top: 0.75em;
	background: var(--col-bg);
	transition:
		font-size ease-in 100ms,
		color ease-in 100ms
		;

	&:not(:hover):not(:focus)
	{
		font-size: 90%;
		color: var(--col-text-alpha);
	}

	&:hover,
	&:focus
	{
		color: var(--col-text);
	}

	&::after
	{
		content: "To top of content ^";
		position: fixed;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		padding: 0.25em 0.75em;
		color: var(--col-text);
		background: var(--col-bg);
	}
}
