/* menu and links */

@use 'constants' as *;
@use 'mixins' as *;

main
{
	&:focus
	{
		outline: none; /* turn off annoying outline in chrome */
	}
}

nav
{
	&::before
	{
		content: "Menu";
		display: block;
		text-align: center;
		font-weight: 700;
		background: var(--col-bg);
	}

	ul
	{
		padding: 1em 2em;
		color: var(--col-menu);
		background-color: var(--col-cta);
		position: relative;

		&::before,
		&::after
		{
			position: absolute;
			left: 0.25em;
			width: 1.5em;
			height: 1.5em;
			background-color: var(--col-bg);
			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
		}

		&::before
		{
			top: 0.25em;
			content: "menu";
			color: transparent;
		}

		&::after
		{
			bottom: 0.25em;
			content: " ";
		}

		li
		{
			&:first-child,
			&:last-child
			{
				&::after
				{
					content: " ";
					position: absolute;
					right: 0.25em;
					width: 1.5em;
					height: 1.5em;
					background-color: var(--col-bg);
					clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
				}
			}

			&:first-child
			{
				&::after
				{
					top: 0.25em;
				}
			}

			&:last-child
			{
				&::after
				{
					bottom: 0.25em;
				}
			}
		}

		a
		{
			&[href^="#"]
			{
				position: relative;
				padding-left: 1.25em;

				&::before
				{
					position: absolute;
					left: 0;
					font-family:'FontAwesome';
					font-weight: normal;
					content: "\f292"; /* hashtag */
				}
			}

			&:hover,
			&:active,
			&:focus
			{
				color: var(--col-bg);
				text-decoration: underline;
				text-decoration-color: var(--col-accent);
			}
		}
	}
}

nav
{
	position: fixed;
	z-index: 1;
	height: 1px;
	overflow: visible;
	top: 0;
	inset-block-start: 0;
	right: 0;
	inset-inline-end: 0;
}

@media screen and (min-width: $breakpoint)
{
	body
	{
		overflow-x: hidden; /* to cater for nav position sticky */
	}

	nav
	{
		position: sticky;
		top: 0;
		inset-block-start: 0;
		left: 100%;
		inset-inline-start: 100%;
		margin-right: -2em;
	}
}

@media screen and (max-width: 1439px)
{
	nav
	{
		transition: transform 300ms ease-in;
		transform: translateX(82%);

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(0);
		}

		&:focus-within /* seperate so it doesn't break :hover in edge */
		{
			transform: translateX(0);
		}
	}
}

aside
{
	padding: var(--padding) 0;

	a
	{
		color: inherit;
	}
}

@media screen and (min-width: $breakpoint)
{
	aside
	{
		background-color: var(--col-bg);
		border:var(--rule);
		transition: transform 300ms ease-in;
		position: var(--position);
		bottom: 0;
		inset-block-end: 0;
		height: 18rem;
		block-size: 18rem;
	}

	.profile /* aside */
	{
		bottom: 0;
		inset-block-end: 0;
		left: 0;
		inset-inline-start: 0;
		transform: translateX(-85%);
		padding: 1em var(--padding) 1em 1em;

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(0);
			z-index: 2;
		}

		&:focus-within /* seperate so it doesn't break :hover in edge */
		{
			transform: translateX(0);
			z-index: 2;
		}
	}

	#profile-title,
	#styles h2
	{
		cursor: pointer;
		color: var(--col-menu);
		background-color: var(--col-cta);
		margin: 0;
		position: absolute;
		top: 0;
		cursor: pointer;
		padding: 0.5em 0 0.5em 0.25em;
		white-space: nowrap;
		height: 100%;
		inline-size: 100%;
	}

	#profile-title
	{
		right: 0;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		transform-origin: center;
		text-align: right;
	}

	#styles /* aside */
	{
		width: max-content;
		padding: 1em 1em 1em var(--padding);
		bottom: 0;
		inset-block-end: 0;
		left: 100%;
		inset-inline-start: 100%;
		transform: translateX(-2.25rem);

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(-100%);
			z-index: 2;
		}

		&:focus-within /* seperate so it doesn't break :hover in edge */
		{
			transform: translateX(-100%);
			z-index: 2;
		}

		h2
		{
			left: 0;
			font-size: var(--fs-h4);
			writing-mode: vertical-lr;
		}
	}
}
