/* menu and links */

nav
{
	position: var(--position);
	padding: 1em 2em;
	top: 0;
	inset-block-start: 0;
	right: 0;
	inset-inline-end: 0;
	color: var(--col-menu);
	background-color: var(--col-cta);
}

aside
{
	font-weight: bold;
	background-color: var(--col-bg);
	border:var(--rule);
	transition: transform 300ms ease-in;

	a
	{
		color: inherit;
	}
}

.profile // aside
{
	padding: 1em 3em 1em 1em;
	position: var(--position);
	bottom: 5%;
	inset-block-end: 5%;
	left: 0;
	inset-inline-start: 0;
	transform: translateX(-87%);

	&:hover,
	&:active,
	&:focus
	{
		transform: translateX(0);
	}

	&:focus-within // seperate so it doesn't break :hover in ie11
	{
		transform: translateX(0);
	}
}

#styles // aside
{
	order:1;
	margin-top: 3rem;
	padding-bottom: 1.5em;
	padding-block-end: 1.5em;

	h2
	{
		padding: 0 0.5em;
	}

	ul, .container > a
	{
		margin-left: 1.5em;
		margin-inline-start: 1.5em;
		margin-right: 1.5em;
		margin-inline-end: 1.5em;
	}
}

#profile-title,
#styles h2
{
	cursor: pointer;
	color: var(--col-menu);
	background-color: var(--col-cta);
}

#profile-title
{
	margin: 0;
	writing-mode: vertical-rl;
	position: absolute;
	top: 0;
	right: 0;
	inset: 0 0 auto auto;
	cursor: pointer;
	padding: 0.5em 0 0.5em 0.25em;
	height: 100%;
	inline-size: 100%;
	white-space: nowrap;
}
