/*! menu and links */

@use 'constants' as *;
@use 'mixins' as *;

main
{
	&:focus
	{
		/*! turn off annoying outline in chrome */
		outline: none;
	}
}

nav
{
	&::before
	{
		content: "Menu";
		display: block;
		text-align: center;
		font-weight: 700;
		background: var(--col-bg);
	}

	ul
	{
		padding: 1em 2em;
		color: var(--col-menu);
		background-color: var(--col-cta);
		position: relative;

		&::before,
		&::after
		{
			position: absolute;
			left: 0.25em;
			width: 1.5em;
			height: 1.5em;
			background-color: var(--col-bg);
			clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
		}

		&::before
		{
			top: 0.25em;
			content: "menu";
			color: transparent;
		}

		&::after
		{
			bottom: 0.25em;
			content: " ";
		}

		li
		{
			&:first-child,
			&:last-child
			{
				&::after
				{
					content: " ";
					position: absolute;
					right: 0.25em;
					width: 1.5em;
					height: 1.5em;
					background-color: var(--col-bg);
					clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
				}
			}

			&:first-child
			{
				&::after
				{
					top: 0.25em;
				}
			}

			&:last-child
			{
				&::after
				{
					bottom: 0.25em;
				}
			}
		}

		a
		{
			/*! make a tag full width of container */
			display: block;

			&[href^="#"]
			{
				position: relative;
				padding-left: 1.25em;

				&::before
				{
					position: absolute;
					left: 0;
					font-family:'FontAwesome';
					font-weight: normal;
					/*! hashtag symbol */
					content: "\f292";
				}
			}

			&:hover,
			&:active,
			&:focus
			{
				color: var(--col-menu-hover);
				text-decoration: underline;
				text-decoration-color: var(--col-accent);
			}
		}
	}
}

@media screen and (max-width : $screen-size-300)
{
	nav
	{
		width: 100%;
		margin: var(--padding) 0 0;

		&::before
		{
			display: none;
		}

		--mobile-menu-gap: 1.25em;

		ul
		{
			/*! flex fallback */
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			margin-right: calc(-1 * var(--mobile-menu-gap));
			margin-bottom: 0;

			li
			{
				flex:1 0 0;
				margin-right: var(--mobile-menu-gap);
			}

			/*! better layout with grid */
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(max-content, 10em));

			@supports(display: grid)
			{
				column-gap: var(--mobile-menu-gap);
				margin-right: 0;

				li
				{
					margin-right: 0;
				}
			}
		}
	}
}

@media screen and (min-width : $screen-size-400)
{
	nav
	{
		position: var(--position);
		z-index: 1;
		height: 1px;
		overflow: visible;
		top: 0;
		inset-block-start: 0;
		right: 0;
		inset-inline-end: 0;
	}
}

@media screen and (min-width: $screen-size-400)
{
	body
	{
		/*! to cater for nav position sticky */
		overflow-x: hidden;
	}

	nav
	{
		position: sticky;
		top: 0;
		inset-block-start: 0;
		left: 100%;
		inset-inline-start: 100%;
		margin-right: -2em;
	}
}

aside
{
	padding: var(--padding) 0 0;
	border-bottom:var(--rule);

	@media screen and (min-width: $screen-size-400)
	{
		padding: var(--padding) 0;
	}

	@media screen and (max-width: $screen-size-300)
	{
		width: 100%;
	}

	a
	{
		color: inherit;
	}
}

@media screen and (min-width: $screen-size-400)
{
	aside
	{
		background-color: var(--col-bg);
		border:var(--rule);
		transition: transform 300ms ease-in;
		position: var(--position);
		bottom: 0;
		inset-block-end: 0;
		height: 18rem;
		block-size: 18rem;
	}

	/*! aside */
	.profile
	{
		bottom: var(--column-gap);
		inset-block-end: var(--column-gap);
		left: 0;
		inset-inline-start: 0;
		padding: 1em var(--padding) 1em 1em;
	}

	#profile-title,
	#styles h2
	{
		cursor: pointer;
		color: var(--col-menu);
		background-color: var(--col-cta);
		margin: 0;
		position: absolute;
		top: 0;
		cursor: pointer;
		padding: 0.5em 0 0.5em 0.25em;
		white-space: nowrap;
		height: 100%;
		inline-size: 100%;
	}

	#profile-title
	{
		right: 0;
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		transform-origin: center;
		text-align: right;
	}

	/*! aside */
	#styles
	{
		width: max-content;
		padding: 1em 1em 1em var(--padding);
		bottom: var(--column-gap);
		inset-block-end: var(--column-gap);
		left: 100%;
		inset-inline-start: 100%;
		transform: translateX(-2.25rem);

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(-100%);
			z-index: 2;
		}

		/*! seperate so it doesn't break :hover in edge */
		&:focus-within
		{
			transform: translateX(-100%);
			z-index: 2;
		}

		h2
		{
			left: 0;
			font-size: var(--fs-h4);
			writing-mode: vertical-lr;
		}
	}
}

/*! 83.5em (1336px) - ipad pro landscape */
@media only screen and (min-width : $screen-size-400) and (max-width : 83.5em)
{
	nav
	{
		transform: translateX(85%);
		transition: transform 300ms ease-in;

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(0);
		}

		/*! focus-within seperate so it doesn't break :hover in edge */
		&:focus-within
		{
			transform: translateX(0);
		}
	}

	.profile
	{
		transform: translateX(-88%);

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(0);
			z-index: 2;
		}

		/*! focus-within seperate so it doesn't break :hover in edge */
		&:focus-within
		{
			transform: translateX(0);
			z-index: 2;
		}
	}
}

/*! 83.5em (1336px) - ipad pro landscape */
@media only screen and (min-width : 83.51em)
{
	nav
	{
		transform: translateX(82%);
		transition: transform 300ms ease-in;

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(0);
		}

		/*! focus-within seperate so it doesn't break :hover in edge */
		&:focus-within
		{
			transform: translateX(0);
		}
	}

	.profile
	{
		transform: translateX(-85%);

		&:hover,
		&:active,
		&:focus
		{
			transform: translateX(0);
			z-index: 2;
		}

		/*! focus-within seperate so it doesn't break :hover in edge */
		&:focus-within
		{
			transform: translateX(0);
			z-index: 2;
		}
	}

}
