/*! scrollbar style */

@use "_constants" as *;

html
{
    scrollbar-color: var(--col-accent) var(--col-cta);
}

/*! You can use the following pseudo elements to customize various parts of the scrollbar for webkit browsers: */

/*! the entire scrollbar */
::-webkit-scrollbar
{
    width: 14px;
    height: 14px;
}

/*! the track (progress bar) of the scrollbar */
::-webkit-scrollbar-track
{
    background-color: var(--col-cta);
}

/*! the draggable scrolling handle */
::-webkit-scrollbar-thumb
{
    background-color: var(--col-accent);
}

/*! the buttons on the scrollbar (arrows pointing upwards and downwards) */
::-webkit-scrollbar-button {
    color: var(--col-cta);
    background-color: var(--col-accent);
    height: 0.5rem;
}
