/*! scrollbar style */

@use "_constants" as *;

:root
{
    --col-sb-thumb:salmon;
    --col-sb-track:var(--col-cta);
}

html
{
    scrollbar-color: var(--col-sb-thumb) var(--col-sb-track);
}

/*! You can use the following pseudo elements to customize various parts of the scrollbar for webkit browsers: */

/*! the entire scrollbar */
::-webkit-scrollbar
{
    width: 14px;
    height: 14px;
}

/*! the track (progress bar) of the scrollbar */
::-webkit-scrollbar-track
{
    background-color: var(--col-sb-track);
}

/*! the draggable scrolling handle */
::-webkit-scrollbar-thumb
{
    background-color: var(--col-sb-thumb);
}

/*! the buttons on the scrollbar (arrows pointing upwards and downwards) */
::-webkit-scrollbar-button {
    /*! color: var(--col-sb-track);
    background-color: var(--col-sb-thumb); - not used because I have set it's height to zero */
    height: 0;
}
