@charset "UTF-8";

@use "_constants" as *;
@use "_mixins" as *;
@use "resets";
@use "fonts";
@use "nav-asides";
@use "animations";
@use 'buttons';

// * {	outline: 2px solid var(--col-outline); } // testing

body
{
	align-items: center;
	padding: 1em var(--padding-page-side) 0;
}

.link-github
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;

	svg
	{
		width: 1.5rem;
		height: 1.5rem;
		color: var(--col-accent);
	}
}

header .link-github
{
	justify-content: center;
}

a
{
	&:hover,
	&:active
	{
		text-decoration: none;
	}

	&:focus
	{
		margin-top: -1em;
		margin-bottom: 1em;
	}
}

section.container,
.page-footer .container,
#files .container // footer
{
	padding: 3rem 0;
	border-bottom: var(--rule);
}

#files .container // footer
{
	padding: var(--padding);
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: max-content repeat(3, auto);
	background-color: var(--col-cta);
	background-image: url(https://source.unsplash.com/KOtu2rPqWs4/1600x900);

	h3
	{
		grid-column: 1 / -1;
		color: var(--col-menu);
		text-shadow:
			1px 1px 0.5em var(--col-text-shadow),
			-1px -1px 0.5em var(--col-text-shadow),
			-1px 1px 0.5em var(--col-text-shadow),
			1px -1px 0.5em var(--col-text-shadow)
		;
	}

	a
	{
		align-self: start;
	}

	.link-downloadcss
	{
		grid-column: 1 / span 2;
	}

	.link-downloadhtml
	{
		grid-column: 2 / 4;
	}

	.link-codepen
	{
		grid-column: 3 / span 2;
	}
}

.page-footer ul // for when in columns
{
	break-inside: avoid-column;

	li
	{
		margin-bottom: 0; // because the a tags have padding
	}
}

@media screen and (min-width: $breakpoint)
{
	section.container,
	.page-footer .container
	{
		columns: calc(3ch + 33vw) 2;
		column-gap: 7vw;
		column-rule: var(--rule);

		h2
		{
			column-span: all;
		}
	}

	// short content so don't break into next column
	#contribute section.container
	{
		columns: unset;
		max-width: calc(3ch + 33vw);
	}

	#contribute
	{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
		grid-template-areas:
			"contribute-intro files"
			"contribute-steps files"
			;

		section:nth-of-type(1)
		{
			grid-area: contribute-intro;
		}

		section:nth-of-type(2)
		{
			grid-area: contribute-steps;
		}

		footer
		{
			grid-area: files;
			display: grid; // stretch content
		}
	}
}

/*	Resouces:
	- https://developer.mozilla.org/en-US/
	- https://en.wikipedia.org/wiki/Web_colors
	- https://fonts.google.com/
	- https://unsplash.com/photos/KOtu2rPqWs4 Thanks to Annie Spratt for sharing their work on Unsplash.
	- https://bennettfeely.com/clippy/
	*/
