@import url(https://fonts.googleapis.com/css2?family=Italianno&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap);
:root {
  --ff-cursive: "Italianno",cursive;
  --ff-serif: "Libre Caslon Text",serif;
  --fs-h1-fallback: calc(2rem + 15vw);
  --fs-h1: min(calc(2rem + 15vw), 12rem);
  --fs-h2: 1.75rem;
  --fs-h3: 1.5rem;
  --fs-h4: 1.25rem;
  --fs-text: 0.95rem;
  --col-accent: salmon;
  --col-cta: Teal;
  --col-outline: var(--col-accent);
  --col-text: #333;
  --col-bg: wheat;
  --col-menu: white;
  --col-selection: var(--col-bg);
  --col-selectionbg: var(--col-text);
  --col-placeholder: #555;
  --rule: 1px dashed rgba(0, 0, 0, 0.2);
  font-size: 16px;
  color: var(--col-text);
  background: var(--col-bg)
}
@media (prefers-color-scheme:dark) {
  :root {
    --col-text: var(--col-bg);
    --col-bg: var(--col-text);
    --rule: 1px solid rgba(255, 255, 255, 0.2)
  }
}
html {
  scroll-behavior: smooth
}
@media (prefers-reduced-motion:reduce) {
  html {
    scroll-behavior: auto
  }
}
body {
  width: 100%;
  min-height: 100vh;
  min-block-size: 100vh;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  line-height: 1.6
}
*,
::after,
::before {
  box-sizing: border-box
}
img,
picture {
  max-width: 100%;
  height: auto
}
dd,
li,
p {
  max-width: 70ch
}
* {
  margin-top: 0;
  -webkit-margin-before: 0;
  margin-block-start: 0
}
* + :last-child {
  margin-bottom: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0
}
figure,
nav li {
  margin: 0
}
dd {
  margin-left: 0;
  -webkit-margin-start: 0;
  margin-inline-start: 0
}
li {
  margin-bottom: 1em;
  -webkit-margin-after: 1em;
  margin-block-end: 1em
}
aside ul,
nav ul {
  padding-left: 0;
  list-style-type: none
}
nav a {
  color: inherit;
  text-decoration: none;
  font-weight: 700
}
button,
input,
select,
textarea {
  font: inherit
}
a {
  color: var(--col-text);
  cursor: pointer;
  display: inline-block;
  padding: .4rem 0;
  outline-offset: .15em;
  outline: transparent solid 2px;
  transition: outline-color 150ms ease-in
}
@media (any-pointer:coarse) {
  a {
    padding: .6rem 0
  }
}
a:focus {
  outline-color: var(--col-outline)
}
::selection {
  color: var(--col-selection);
  background-color: var(--col-selectionbg)
}
::-webkit-input-placeholder {
  color: var(--col-placeholder)
}
:-ms-input-placeholder {
  color: var(--col-placeholder)
}
::-ms-input-placeholder {
  color: var(--col-placeholder)
}
::placeholder {
  color: var(--col-placeholder)
}
svg {
  fill: currentColor
}
details summary {
  cursor: pointer;
  outline: 0;
  display: block
}
body {
  font-family: var(--ff-serif);
  align-items: center;
  padding: 1em 2em 0
}
h1 {
  font-family: var(--ff-cursive);
  font-size: var(--fs-h1-fallback);
  font-size: var(--fs-h1);
  text-align: center;
  color: transparent;
  background-image: url(https://source.unsplash.com/KOtu2rPqWs4/1600x900);
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
  margin: .25em 0;
  white-space: nowrap
}
h2 {
  font-size: var(--fs-h2)
}
h3 {
  font-size: var(--fs-h3)
}
h4 {
  font-size: var(--fs-h4)
}
li,
p {
  font-size: var(--fs-text)
}
header .container {
  text-align: center
}
header .container h2,
header .container p {
  margin-bottom: 1rem;
  -webkit-margin-after: 1rem;
  margin-block-end: 1rem
}
nav {
  position: var(--position);
  padding: 1em 2em;
  top: 0;
  inset-block-start: 0;
  right: 0;
  inset-inline-end: 0;
  color: var(--col-menu);
  background-color: var(--col-cta)
}
aside {
  font-weight: 700;
  background-color: var(--col-bg);
  border: var(--rule);
  transition: transform .3s ease-in
}
aside a {
  color: inherit
}
.profile {
  padding: 1em 3em 1em 1em;
  position: var(--position);
  bottom: 5%;
  inset-block-end: 5%;
  left: 0;
  inset-inline-start: 0;
  transform: translateX(-87%)
}
.profile:active,
.profile:focus,
.profile:hover {
  transform: translateX(0)
}
.profile:focus-within {
  transform: translateX(0)
}
#styles {
  order: 1;
  margin-top: 3rem;
  padding-bottom: 1.5em;
  -webkit-padding-after: 1.5em;
  padding-block-end: 1.5em
}
#styles h2 {
  padding: 0 .5em
}
#styles .container > a,
#styles ul {
  margin-left: 1.5em;
  -webkit-margin-start: 1.5em;
  margin-inline-start: 1.5em;
  margin-right: 1.5em;
  -webkit-margin-end: 1.5em;
  margin-inline-end: 1.5em
}
#profile-title,
#styles h2 {
  cursor: pointer;
  color: var(--col-menu);
  background-color: var(--col-cta)
}
#profile-title {
  margin: 0;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  top: 0;
  right: 0;
  inset: 0 0 auto auto;
  cursor: pointer;
  padding: .5em 0 .5em .25em;
  height: 100%;
  inline-size: 100%;
  white-space: nowrap
}
.link-github svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--col-accent)
}
a:active,
a:focus,
a:hover {
  text-decoration: none
}
.page-footer .container,
section.container {
  padding: 3rem 0;
  border-bottom: var(--rule)
}
@media screen and (min-width:45rem) {
  :root {
    --position: fixed
  }
  h1 {
    line-height: initial
  }
  .page-footer .container,
  section.container {
    columns: calc(3ch + 33vw) 2;
    column-gap: 7vw;
    column-rule: var(--rule)
  }
}
#main .container > p:first-of-type::first-letter {
  background-color: var(--col-accent);
  padding: .2em .1em;
  margin-right: .1em;
  -webkit-margin-end: .1em;
  margin-inline-end: .1em;
  font-size: 3em;
  line-height: 1;
  float: left
}